.hands-on::before {
  display: block;
  content: "✍️ " attr(data-title);
  font-weight: bold;
  font-size: 1.35em;
  margin-bottom: .8em;
  color: rgb(25, 0, 255);
}
.hands-on {
  display: block;
  background: rgba(215, 246, 255, 0.7);
  border: 1px solid rgb(0, 195, 255);
  border-radius: 8px;
  padding: 0.5em 1em;
}

footer span.date {
  display: inline-block;
}

.additional-notes, .course-resource {
  padding-left: 0.35em;
  font-size:0.85em;
}
.additional-notes > a, .course-resource > a {
  /*color: #ff6d6d;*/
}
.additional-notes > a:hover, .course-resource > a:hover {
  color: #ff6d6d;
  text-decoration: none;
}
.additional-notes {
  color: #707070;
  padding-left: 0;
}

p.caption {
  text-align: center;
}
